{% extends 'base.html.twig' %}

{% block body %}
    <div class="row-fluid">
        <div class="col-lg-12">
            <div id="calendar"></div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script type="application/javascript">
    </script>
{% endblock %}